body {
  font-family: "Roboto Mono", monospace;
  background-color: #333;
  color: #ccc;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 50px;
  text-shadow: 2px 2px #3880ff;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

li {
  width: 10%;
  display: flex;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3880ff;
  padding: 10px 20px;
  background-color: #333;
  border: 2px solid #3880ff;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 18px;
}

a:hover {
  background-color: #3880ff;
  color: #fff;
  cursor: pointer;
  transform: scale(1.1);
}

